<nav class="navbar navbar-expand-sm navbar-dark bg-secondary fixed-top">
	<a class="navbar-brand" href="#">Navbar</a>
	<button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" [collapse]="isCollapsed" >
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLink="/home" routerLinkActive="active">
				<a class="nav-link">Home</a>
			</li>
			<li class="nav-item" routerLink="/about" routerLinkActive="active">
				<a class="nav-link">About</a>
			</li>
		</ul>
		<button class="btn btn-outline-primary my-2 my-sm-0" type="button" routerLink="/sign-in">Sign In</button>
		<button class="btn btn-primary my-2 my-sm-0" type="button" routerLink="/sign-up">Get Started</button>
	</div>
</nav>
