<div class="jumbotron jumbotron-fluid">
	<div class="container text-center">
		<h1 class="display-5">Listen,</h1>
		<h1 class="display-5">connect,</h1>
		<h1 class="display-5">understand.</h1>

		<hr class="my-4">
		<p class="lead text-center">
			<button class="btn btn-outline-accent btn-lg" href="#" role="button">Get Started</button>
		</p>
	</div>
</div>

<div class="container">
	<div class="tagline">
		<h2>We connect you to people who get you.</h2>

		<p>TheraPair links prospective patients with therapists who share similar backgrounds to then and lead a similar lifestyle so that each patient can get the most personalized experience possible.</p>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="card text-center mt-5">
				<img class="card-img-top" src="http://via.placeholder.com/400x200" alt="Card image cap">
				<div class="card-body">
					<h3 class="card-title">I want to talk</h3>
					<p class="card-text">Ready to take the next step? Complete our survey to be matched with a therapists that is best for you.</p>
					<a href="#" class="btn btn-outline-accent btn-lg">Join as Patient</a>
				</div>
			</div>
		</div>
		<hr class="my-4">
		<div class="col-sm-6">
			<div class="card text-center mt-5">
				<img class="card-img-top" src="http://via.placeholder.com/400x200" alt="Card image cap">
				<div class="card-body">
					<h3 class="card-title">I am a therapist</h3>
					<p class="card-text">Are you a therapist looking to help patients via online sessions? Sign up to watch you customer size grow!</p>
					<a href="#" class="btn btn-outline-accent btn-lg">Join as Therapist</a>
				</div>
			</div>
		</div>
	</div>
</div>
